body {
    background-color: #111;
    color: #f4f4f4;
}
.image {
    float: left;
    margin: 5%;
    width: 23em;
}

h1, h3 {
    font-family: "Times New Roman", sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 2% 0;
    color: #ffffff;
}

h2, h4 {
    font-family: "Times New Roman", "Segoe UI", sans-serif;
    margin: 5%;
    color: #FFF5EA;
}


.container {
    padding-right: 0.9em;
    padding-left: 0.9em;
    margin-right: auto;
    margin-left: auto;
}

#theme-button {
    float: right;
}

.Description td {
    color: #FFF5EA;
    margin: auto;
}

#trailer {
    margin: 5%;
    align-items: center;
    font-size: xx-large;
}


.light-theme {
    background: #f4f4f4;
    color: #111;
    background-size: auto;
    width: 100%;
    height: auto;
}


.light-theme .Description td {
    color: black;
}

.new-img {
    background: #ff511f;
}

.counter {
    justify-content: left;
    align-items: flex-end;
}

.moviesPics {
    width: 250px;
    height: 350px;
    margin-left: 0;
    padding-left: 0;
}

#plot {
    padding: 1% 5%;
}

#moviePlot {
    padding: 1% 5%;
}

.image-button {
    border-radius: 5px;
}


