body {
    background-color: #4B6587;
}
.image {
    float: left;
    margin: 5%;
    width: 23em;
}

h2, title {
    color: #fff5d1;
}

p {
    color: #FFF5EA;
}

h1, h3 {
    font-family: "Times New Roman", sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 2% 0;
    color: #ff511f;
}

h2 {
    font-family: "Times New Roman", "Segoe UI", sans-serif;
    margin: 5%;
}


.container {
    padding-right: 0.9em;
    padding-left: 0.9em;
    margin-right: auto;
    margin-left: auto;
}

.theme-button {
    background-color: #87e1d7;
    float: right;
}

.Description td {
    color: #FFF5EA;
    margin: auto;
}

#trailer {
    margin: 5%;
    align-items: center;
    font-size: xx-large;
}


.light-theme {
    background: #BAD7DF;
    background-size: auto;
    width: 100%;
    height: auto;
}

.light-theme p,h1,h2,h3,h4  {
    color: black;
}

.light-theme .Description td {
    color: black;
}

.new-img {
    background: #ff511f;
}

.counter {
    justify-content: left;
    align-items: flex-end;
}

